<div class="relative w-full bg-sky-700">
    <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div>
            <p class="text-sm font-medium text-center text-white">
                ⚡ Verfügbar für neue Projekte ab März 2022
                <span class="block sm:inline">
                    <a href="mailto:kontakt@joshuablum.de?subject=Anfrage%20%C3%BCber%20joshuablum.de&body=Nette%20Worte%20bitte%20hier%20einf%C3%BCgen..." class="font-bold text-white"> <span aria-hidden="true">&rarr;</span> Anfrage senden</a>
                </span>
            </p>
        </div>
    </div>
</div>
