<footer class="mt-12 space-y-2 text-center">
    <nav>
        <ul class="flex justify-center space-x-4">
            <li><a href="/impressum">Impressum</a></li>
            <li><a href="/datenschutz">Datenschutz</a></li>
        </ul>
    </nav>
    <div class="space-y-4 text-sm">
        <div class="max-w-md mx-auto">
            <p>Gebaut mit <a href="https://statamic.com/?ref=byblum" class="hover:text-[#FF269E]">Statamic</a>, <a href="https://tailwindcss.com" class="hover:text-[#06B6D4]">Tailwind CSS</a>, <a href="https://alpinejs.dev/" class="hover:text-[#77C1D2]">Alpine.js</a>, serviert von <a href="https://m.do.co/c/2b581771577a" class="hover:text-[#0080FF]">DigitalOcean</a> und observiert durch <a href="https://ohdear.app/" class="hover:text-[#e32929]">oh dear</a></p>
        </div>
        <div>
            <p>Datenschutzfreundliche Analytics via <a href="https://usefathom.com/ref/J0TESN" class="hover:text-[#9187FF]">Fathom</a></p>
        </div>
        <div>
            <p>&copy; 1995-{{ date format="Y" }}</p>
        </div>
        <div>
            <p class="text-2xl">🏳️‍🌈🇪🇺</p>
        </div>
    </div>
    <div class="pb-6">
        <small>
            Verwendung ausschließlich technisch notwendiger Cookies <a href="https://media.giphy.com/media/HGe4zsOVo7Jvy/source.gif">🍪</a>
        </small>
    </div>
</footer>
