<footer class="mt-12 space-y-2 text-center">
    <nav>
        <ul class="flex justify-center space-x-4">
            {{ nav:footer }}
                <li><a href="{{ url }}">{{ title  }}</a></li>
            {{ /nav:footer }}
        </ul>
    </nav>
    <div class="space-y-4 text-sm">
        <div class="max-w-md mx-auto">
            <p>Gebaut mit <a href="https://statamic.com/?ref=byblum" class="hover:text-[#FF269E]">Statamic {{? echo Statamic::version() ?}}</a>, <a href="https://laravel.com" class="hover:text-[#FF2D20]">Laravel {{? echo Illuminate\Foundation\Application::VERSION ?}}</a>, <a href="https://tailwindcss.com" class="hover:text-[#06B6D4]">Tailwind CSS 3</a>, <a href="https://alpinejs.dev/" class="hover:text-[#77C1D2]" x-data x-text="`Alpine.js ${ Alpine.version }`"></a>. Serviert von <a href="https://hetzner.cloud/?ref=HJIohmXAuRp0" class="hover:text-[#D50C2D]">Hetzner Cloud</a> und überwacht durch <a href="https://ohdear.app/" class="hover:text-[#e32929]">Oh Dear</a>.</p>
        </div>
        <div>
            <p>Datenschutzfreundliche Analytics mit <a href="https://usefathom.com/ref/J0TESN" class="hover:text-[#9187FF]">Fathom</a>.</p>
        </div>
        <div>
            <p>&copy; 1995-{{ now format="Y" }}</p>
        </div>
        <div>
            <p class="text-2xl">🏳️‍🌈🇪🇺</p>
        </div>
    </div>
    <div class="pb-6">
        <small>
            Eat cookies, don't store them <a href="https://media.giphy.com/media/HGe4zsOVo7Jvy/source.gif" x-on:click="fathom.trackGoal('OIEAEOHL', 0)" x-on:mouseenter="$refs.cookieMonster.play()" x-on:mouseleave="$refs.cookieMonster.pause()">🍪</a>
        </small>
    </div>
</footer>
