<header class="max-w-sm px-4 mx-auto mt-6 md:max-w-3xl">
    <nav class="flex items-center justify-center">
        {{#<div>
            <a href="/">
                <svg width="50" height="50">
                    <rect width="50" height="50" style="fill:#18181B;" />
                </svg>
            </a>
        </div>#}}
        <div>
            <ul class="flex space-x-4 text-xl font-semibold">
                <li><a href="/">Home</a></li>
                <li><a href="/#ueber-mich">Über mich</a></li>
                {{# <li><a href="/#kontakt">Kontakt</a></li> #}}
            </ul>
        </div>
    </nav>
</header>
