<audio x-ref="badumtss" preload="none">
    <source src="/assets/badumtss.mp3" type="audio/mpeg">
</audio>
<audio x-ref="basketball" preload="none">
    <source src="/assets/basketball.mp3" type="audio/mpeg">
</audio>
<audio x-ref="chirp" preload="none">
    <source src="/assets/chirp.mp3" type="audio/mpeg">
</audio>
<audio x-ref="cookieMonster" preload="none">
    <source src="/assets/cookie-monster.mp3" type="audio/mpeg">
</audio>
<audio x-ref="typing" preload="none">
    <source src="/assets/typing.mp3" type="audio/mpeg">
</audio>