<div class="hidden much-wow:flex items-center sticky bottom-0 left-0">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="hover:rotate-12 p-2" x-on:mouseenter="$refs.badumtss.play()"><img src="/assets/doge.png" alt="" class="w-12"></a>
    <span class="font-comic font-semibold text-xl text-transparent bg-clip-text bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400">You seem to have a really <span class="tracking-[.25em]">wide</span> monitor.<br>Such cool. Much wow.</span>
</div>