<!doctype html>
<html lang="de" class="scroll-smooth">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ title ?? site:name }} - Joshua Blum</title>
  
  <!-- Regular Meta Tags -->
  <meta name="title" content="Joshua Blum — Full Stack Entwickler und UI/UX Designer">
  <meta name="description" content="Fokusiert auf die Entwicklung von Anwendungen mit dem Laravel-Framework und dem Einsatz modernen JavaScript-Frameworks.">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://joshuablum.de/">
  <meta property="og:title" content="Joshua Blum — Full Stack Entwickler und UI/UX Designer">
  <meta property="og:description" content="Fokusiert auf die Entwicklung von Anwendungen mit dem Laravel-Framework und dem Einsatz modernen JavaScript-Frameworks.">
  <meta property="og:image" content="https://joshuablum.de/assets/card.jpg">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://joshuablum.de/">
  <meta name="twitter:site" content="@_joshuablum">
  <meta property="twitter:title" content="Joshua Blum — Full Stack Entwickler und UI/UX Designer">
  <meta property="twitter:description" content="Fokusiert auf die Entwicklung von Anwendungen mit dem Laravel-Framework und dem Einsatz modernen JavaScript-Frameworks.">
  <meta property="twitter:image" content="https://joshuablum.de/assets/card.jpg">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏄🏼‍♂️</text></svg>">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Scripts -->
  <script src="{{ mix src="/js/site.js" }}" defer></script>
  {{ if environment === 'production' }}
  <script src="https://adorable-cheerful.joshuablum.cloud/script.js" data-site="LYEIBFEY" defer></script>
  {{ /if }}
</head>
<body
  class="font-sans text-gray-800 bg-gray-100 dark:bg-gray-900 dark:text-gray-50"
  x-init="$nextTick(() => {
    let darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
    let lightMode = window.matchMedia('(prefers-color-scheme: light)').matches
    if (darkMode) {
      fathom.trackGoal('FDVGAOXI', 0)
    } else if (lightMode) {
      fathom.trackGoal('FDPWWVVN', 0)
    }
  })"
>
  {{ partial:banner }}
  <div class="max-w-2xl px-4 mx-auto sm:px-0">
    {{ partial:header }}
    {{ template_content }}
    {{ partial:footer }}
  </div>
  {{ partial:savvycal }}
</body>
</html>