<!doctype html>
<html lang="{{ site:short_locale }}" class="scroll-smooth motion-reduce:scroll-auto" x-data x-bind:class="$store.darkMode.on && 'dark'">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ title ?? '' }} - {{ site:name ?? 'Joshua Blum' }}</title>

  {{ partial:seo }}

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏄🏼‍♂️</text></svg>">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">

  <!-- Scripts -->
  <script src="{{ mix src="/js/site.js" }}" defer></script>
  
  <script src="https://lively-life-on-mars.joshuablum.de/script.js" data-site="LYEIBFEY" defer></script>
</head>
<body
  class="font-sans text-gray-800 bg-gray-100 dark:bg-gray-900 dark:text-gray-50 antialiased"
  x-init="$nextTick(() => {
    let darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
    let lightMode = window.matchMedia('(prefers-color-scheme: light)').matches
    if (darkMode) {
      fathom.trackGoal('FDVGAOXI', 0)
    } else if (lightMode) {
      fathom.trackGoal('FDPWWVVN', 0)
    }
  })"
  x-data="konamiCode"
  x-on:keydown.document="handler"
>
  {{ personal_details:twitter }}
  {{ if banner:show }}
    {{ partial:banner }}
  {{ /if }}
  <div class="max-w-2xl px-4 mx-auto sm:px-0">
    {{ partial:header }}
    {{ template_content }}
    {{ partial:footer }}
  </div>
  {{ partial:savvycal }}
  {{ if current_uri === "/" }}
    {{ partial:ultrawide-easter-egg }}
  {{ /if }}
  {{ partial:sound-effects }}
</body>
</html>